<!DOCTYPE html>
{% load static %}
<html>
<head>


	<link rel="stylesheet"  href="{% static "css/starter.css" %}>
	<link rel="stylesheet" type="text/css" href="E:\Html\bootstrap.css">
	<script type="text/javascript" src="E:\Html\jquery.js"></script>
	<title>welcome to reyaj matrimonial</title>
</head>

<body style="text-align: center; background :url(https://cdn.pixabay.com/photo/2019/11/22/06/18/ceremony-4644211_960_720.jpg);background-repeat: no-repeat;
	background-size: cover;">

	
	<h1 style="color: white">WelCome To Reyaj Matrimonials </h1>
	<h2 style="color: white">India's No.1 Marriage Websites</h2>

	<img id="reyaj" style="border: black 5px solid" src="https://cdn.pixabay.com/photo/2016/03/14/14/21/wedding-1255520_960_720.jpg"  height="400px" width="800px" 	><br><br>
	<form action="{% url 'logout'%}">
		<button class="btn btn-success " name="Logout" value="Logout">Logout</button></form>
		<script type="text/javascript" src="test.js"></script>
		

	</body>
</html>