<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="matrimonial.css">
	<title>Matrimonial Registration</title>
</head>

<body>
	<div >

	<h1>Registration Form</h1><br><br>

	<h2>All Fields Are Mandatory</h2>
	<form action="thankyou.html" method="get">
		Name:
		<input type="text" name="name" placeholder="enter name"><br><br>
		Email:
		<input type="email" name="mail" placeholder="enter email"><br><br>
		Age:
		<input type="text" name="age" placeholder="enter age"><br><br><br><br><br><br><br>


		

		<textarea rows='8' cols='40'name="feedback"></textarea><br><br>
		<input type="submit" name="submit feedback" value="feedback"><br><br>
		</form>
	</div>
	<style type="text/css">
		
		div{
	background-color: white;
	width: 400px;
	height: 550px;
	text-align: center;
	margin: auto;
	padding-bottom:10px;
	background: url(https://cdn.pixabay.com/photo/2014/06/22/05/49/rose-374318_960_720.jpg);
}
	</style>
</body>
</html>